@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #263238;
    --color-secondary: #455A64;
    --color-accent: #B0BEC5;
    --color-background: #F7F7F7;
}

html {
    font-family: 'Public Sans', sans-serif;
    background-color: var(--color-background);
    color: var(--color-primary);
}